<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body class="bg-indigo-900 font-sans p-10">
    {% block body %}{% endblock %}
  </body>
</html>
